---
const { authorlink, author, unsplashlink } = Astro.props;
---

<div class="no-underline my-10 inline-block">
  <h5>Crédits photographiques</h5>
  Photo de <a href={authorlink} target="_blank" class="no-underline">{author}</a
  > sur
  <a href={unsplashlink} target="_blank" class="no-underline">Unsplash</a>
</div>
