---
const base = import.meta.env.BASE_URL;
const { tags, context } = Astro.props;
function slugify(str) {
    return String(str)
        .normalize("NFKD")
        .replace(/[\u0300-\u036f]/g, "")
        .trim()
        .toLowerCase()
        .replace(/[^a-z0-9 -]/g, "")
        .replace(/\s+/g, "-")
        .replace(/-+/g, "-");
}
---

{
    context == "post" ? (
    <div class="pb-6 flex flex-wrap">
            {Object.entries(tags).map(([key, val]) => (
                <span class="inline-flex items-center justify-center text-lg rounded-xl mx-2 px-4 my-2 bg-slate-900 hover:animate-pulse">
            <a
                href={`${base + "/tags/" + slugify(val)}/`}
                class="no-underline text-white font-bold text-accent hover:text-white"
            >
                {val}
            </a>
        </span>
            ))}
    </div>
    ) : (
        <div class="pb-6 flex flex-wrap">
            {Object.entries(tags).map(([key, val]) => (
                <span class="inline-flex items-center justify-center text-lg rounded-xl mx-2 px-4 my-2 bg-slate-900 hover:animate-pulse">
                        <a
                            href={`${base + "/tags/" + slugify(key)}/`}
                            class="justify-center no-underline text-white font-bold text-accent hover:text-white"
                        >
                            {key} &nbsp; <span class="text-yellow-400">{val}</span>
                        </a>

                </span>
            ))}
        </div>
    )
}
